<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062304744018-6nv7hnqio29vokcv8s009regcqp82jva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062304744018-6nv7hnqio29vokcv8s009regcqp82jva</string>
	<key>API_KEY</key>
	<string>AIzaSyBK6fBt7iBfbo0RskRHiVkBeN35GvRCdSc</string>
	<key>GCM_SENDER_ID</key>
	<string>617807045117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.georgiancollege.pitchventure</string>
	<key>PROJECT_ID</key>
	<string>pitchventure-bc3a3</string>
	<key>STORAGE_BUCKET</key>
	<string>pitchventure-bc3a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:617807045117:ios:27930915db752f460eb994</string>
</dict>
</plist>
